<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <title>Noticias Egg</title>
    <link href="css/one-page-wonder.min.css" rel="stylesheet" />
    <!-- CSS only -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/index.css" />
  </head>
  <body>
    <table class="table table-dark">
      <thead>
        <tr>
          <th scope="col">Id de la noticia</th>
          <th scope="col">Titulo de la noticia</th>
          <th scope="col">Cuerpo de la noticia</th>
          <th scope="col">Alta</th>
          <th scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody th:each="noticia : ${noticias}">
        <tr>
          <th scope="row" th:text="${noticia.id}"></th>
          <td th:text="${noticia.titulo}"></td>
          <td>[[${noticia.cuerpo}]]</td>
          <td th:if="${noticia.alta} == true">Alta</td>
          <td th:if="${noticia.alta} == false">Baja</td>
          <td>
            <a th:href="@{/noticia/modificar/__${noticia.id}__}"
              ><i class="fas fa-feather-alt"></i> Modificar
            </a>
          </td>
          <td>
            <a
              th:if="${noticia.alta} == true"
              th:href="@{/noticia/baja/__${noticia.id}__}"
              ><i class="fas fa-feather-alt"></i> Dar Baja
            </a>
            <a
              th:if="${noticia.alta} == false"
              th:href="@{/noticia/alta/__${noticia.id}__}"
              ><i class="fas fa-feather-alt"></i> Dar Alta
            </a>
          </td>
        </tr>
      </tbody>
    </table>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
