<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="ISO-8859-1">
        <title>Registro de Autores</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
        <link rel="stylesheet" href="/css/formulario.css">
    </head>
    <body>

       <nav class="navbar navbar-expand-lg navBar">
            <div class="containerImg">
                <a href="/" class="navbar-brand d-flex align-items-center">
                  <img class="logo" src="/img/Egg.png" alt="Img logo egg">
                </a>
              </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse elementosNav" id="navbarNavDropdown">
              <ul class="navbar-nav ms-auto elementos">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Libros
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        
                        <li><a class="dropdown-item" th:href="@{/libro/registrar}">Crear Libro</a></li>
                        <li><hr class="dropdown-divider"></li>
                        
                        <li><a class="dropdown-item" th:href="@{/libro/lista}">Listar Libros</a></li>
                    </ul>
                </li>


                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Autores
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        
                        <li><a class="dropdown-item" th:href="@{/autor/registrar}">Crear Autor</a></li>
                        <li><hr class="dropdown-divider"></li>
                       
                        <li><a class="dropdown-item" th:href="@{/autor/lista}">Listar Autores</a></li>
                    </ul>
                </li>



                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Editoriales
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        
                        <li><a class="dropdown-item" th:href="@{/editorial/registrar}">Crear Editorial</a></li>
                        <li><hr class="dropdown-divider"></li>
                        
                        <li><a class="dropdown-item" th:href="@{/editorial/lista}">Listar Editoriales</a></li>
                    </ul>
                </li>
              </ul>
            </div>
          </nav>
        <div class="container-fluid m-5 contenedor">

            <form class="formulario" th:action="@{/autor/registro/}" method="POST">
                <div class="form-group my-3">
                    <label class="mb-2">Cargar Autores</label> 
                    <input type="text" class="form-control" name="nombre" placeholder="Nombre del Autor">
                </div>

                <button type="submit" class="btn btn-primary mt-3 botones">Guardar</button>
            </form>

            <div th:if="${exito}!=null" class="card text-white bg-success mb-3 mt-3 mensajeExito" >
                <div class="card-body">
                    <h5 class="card-title">Exito!</h5>
                    <p class="card-text" th:text="${exito}"></p>
                </div>
            </div>
            <div th:if="${error}!=null" class="card text-white bg-danger mb-3 mensajeError" >
                <div class="card-body">
                    <h5 class="card-title">Error 👎</h5>
                    <p class="card-text" th:text="${error}"></p>
                </div>
            </div>
            <section class=" text-center container">
                <div class="row mt-3">
                    <div class="divVolver">
                        <a th:href="@{/}" class="btn btn-secondary my-2 botonVolver botones">Volver</a>
                    </div>
                </div>
            </section>
        </div>

        <footer class="text-muted py-5">
            <div class="containerFooter">
                <p class="mb-1">Album example is &copy; Bootstrap,<br>but please download and customize it for yourself!</p>
                <p class="mb-0">New to Bootstrap? <a href="/"><br>Visit the homepage</a> or read our <a href="../getting-started/introduction/">getting started guide</a>.</p>
                <p class="float-end mb-1">
                    <a href="#" style="text-decoration:none"><span>⬆️</span> Back to top</a>
                </p>
            </div>
        </footer>


        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    </body>
</html>