body {
  background-color: aquamarine;
}

h1,
h2 {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

p{
    font-family: 'Times New Roman', Times, serif;
    color: blue;
    text-align: left;
}