h1 {
  color: cadetblue;
}
strong {
  color: red;
}

.destacado {
  color: burlywood;
}

h2 {
  color: blue;
}

a {
  color: red;
}
a em {
  color: blue;
}

p .especial {
  color: blueviolet;
}

caption {
  display: none;
}

table,
th,
td {
  border-collapse: collapse;
  border: solid black 1px;
  text-align: center;
}

.especial {
  color: orange;
}
td {
  color: green;
}

th {
  color: red;
}

td strong {
  color: orange;
}

#adicional p {
  color: rgb(157, 165, 80);
}
#adicional #especial {
  color: fuchsia;
}

#adicional a {
  color: lightgreen;
}
